<body>
    <center>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">
        
          <main role="main" class="inner cover">
            <h1 class="cover-heading">ISSUE TRACKER ASW</h1>
            <p class="lead">Please, log in using your Google account.</p>
            <p class="lead">
              <a href="/auth/google_oauth2" class="btn btn-lg btn-primary">Log in!</a>
            </p>
          </main>

          <footer class="mastfoot">
            <div class="inner">
              <p>Project for the subject of ASW, by Oriol Saborido, Gerard Esteve, Miguel Ángel Álvarez, Pau Alòs.</p>
            </div>
          </footer>

        </div>

      </div>

  </div>
  </center>

</body>
